/* H1 effect */
.glitch {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 100px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(51px, 9999px, 97px, 0);
  }
  5% {
    clip: rect(44px, 9999px, 52px, 0);
  }
  10% {
    clip: rect(19px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(83px, 9999px, 18px, 0);
  }
  20% {
    clip: rect(43px, 9999px, 74px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 98px, 0);
  }
  30% {
    clip: rect(28px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(44px, 9999px, 12px, 0);
  }
  40% {
    clip: rect(40px, 9999px, 56px, 0);
  }
  45% {
    clip: rect(65px, 9999px, 56px, 0);
  }
  50% {
    clip: rect(33px, 9999px, 81px, 0);
  }
  55% {
    clip: rect(99px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(27px, 9999px, 49px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 19px, 0);
  }
  75% {
    clip: rect(65px, 9999px, 71px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 61px, 0);
  }
  85% {
    clip: rect(84px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(56px, 9999px, 26px, 0);
  }
  95% {
    clip: rect(59px, 9999px, 27px, 0);
  }
  100% {
    clip: rect(63px, 9999px, 62px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(51px, 9999px, 97px, 0);
  }
  5% {
    clip: rect(44px, 9999px, 52px, 0);
  }
  10% {
    clip: rect(19px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(83px, 9999px, 18px, 0);
  }
  20% {
    clip: rect(43px, 9999px, 74px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 98px, 0);
  }
  30% {
    clip: rect(28px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(44px, 9999px, 12px, 0);
  }
  40% {
    clip: rect(40px, 9999px, 56px, 0);
  }
  45% {
    clip: rect(65px, 9999px, 56px, 0);
  }
  50% {
    clip: rect(33px, 9999px, 81px, 0);
  }
  55% {
    clip: rect(99px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(27px, 9999px, 49px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 19px, 0);
  }
  75% {
    clip: rect(65px, 9999px, 71px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 61px, 0);
  }
  85% {
    clip: rect(84px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(56px, 9999px, 26px, 0);
  }
  95% {
    clip: rect(59px, 9999px, 27px, 0);
  }
  100% {
    clip: rect(63px, 9999px, 62px, 0);
  }
}
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(91px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(17px, 9999px, 54px, 0);
  }
  10% {
    clip: rect(89px, 9999px, 78px, 0);
  }
  15% {
    clip: rect(65px, 9999px, 70px, 0);
  }
  20% {
    clip: rect(83px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(35px, 9999px, 33px, 0);
  }
  30% {
    clip: rect(42px, 9999px, 12px, 0);
  }
  35% {
    clip: rect(61px, 9999px, 71px, 0);
  }
  40% {
    clip: rect(54px, 9999px, 58px, 0);
  }
  45% {
    clip: rect(24px, 9999px, 65px, 0);
  }
  50% {
    clip: rect(97px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 5px, 0);
  }
  60% {
    clip: rect(10px, 9999px, 45px, 0);
  }
  65% {
    clip: rect(42px, 9999px, 4px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 58px, 0);
  }
  75% {
    clip: rect(13px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(59px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(77px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(90px, 9999px, 79px, 0);
  }
  95% {
    clip: rect(97px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(68px, 9999px, 24px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(91px, 9999px, 83px, 0);
  }
  5% {
    clip: rect(17px, 9999px, 54px, 0);
  }
  10% {
    clip: rect(89px, 9999px, 78px, 0);
  }
  15% {
    clip: rect(65px, 9999px, 70px, 0);
  }
  20% {
    clip: rect(83px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(35px, 9999px, 33px, 0);
  }
  30% {
    clip: rect(42px, 9999px, 12px, 0);
  }
  35% {
    clip: rect(61px, 9999px, 71px, 0);
  }
  40% {
    clip: rect(54px, 9999px, 58px, 0);
  }
  45% {
    clip: rect(24px, 9999px, 65px, 0);
  }
  50% {
    clip: rect(97px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 5px, 0);
  }
  60% {
    clip: rect(10px, 9999px, 45px, 0);
  }
  65% {
    clip: rect(42px, 9999px, 4px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 58px, 0);
  }
  75% {
    clip: rect(13px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(59px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(77px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(90px, 9999px, 79px, 0);
  }
  95% {
    clip: rect(97px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(68px, 9999px, 24px, 0);
  }
}
.glitch::before {
  left: 2px;
  text-shadow: -4px 0px #6fb6fc;
  background: white;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -4px 0px white;
  background: white;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

/* subtitle effect */
.container-subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
.subtitle{
  animation: typing-text 2s steps(20), blink 0.5s infinite alternate;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #6fb6fc;
}

@keyframes typing-text{
  from{
    width: 0;
  }
  to{
    width: 32ch;
  }
}

@keyframes blink{
  
  from{
    border-color: transparent;
  }
  to{
   border-color: #6fb6fc;
  }
}
